 <form class="example-form" [formGroup]="formAddTask1" *ngIf="formAddTask1" (ngSubmit)="submit()">
<!--   <input  type="text" name="task" formControlName="title" [(ngModel)]="title"> -->
<!--   <input  placeholder="Ex. I need help with..." formControlName="description"> -->
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" name="text">
      </mat-form-field>
        <p>{{formAddTask1.title}}</p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="description">
        <mat-hint align="start"></mat-hint>
        <mat-hint align="end">{{message.value.length}} / 257</mat-hint>
      </mat-form-field>
       <button class="btn btn-primary" type="submit" [disabled]='formAddTask1.invalid'>Refresh</button>
 </form>

