<nav class="nav">
  <div>
    <a class="title-name" routerLink="/">
      <img class="ava" src="../../../assets/img/logo.png" alt="Logo">
    </a>
  </div>
  <ul>
    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <a routerLink="/">Home</a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <a routerLink="/admin/create">Create</a>
    </li>
    <li *ngIf="!isSignIn">
      <button mat-raised-button color="accent" (click)="login()">{{ "buttons.login"  | translate }}</button>
    </li>
    <li *ngIf="isSignIn">
      <button mat-raised-button translate (click)="aa()">{{ "buttons.logout" | translate }}</button>
    </li>
    <li>
      <button mat-raised-button translate (click)="changeLanguage()">{{ "buttons.language" | translate }}</button>
    </li>
  </ul>
</nav>



