<nav class="nav">
  <div class="nav-btn">
    <a class="title-name" routerLink="/">
      <img class="ava" src="../../../assets/img/todo-list-logo.png" alt="Logo">
    </a>
  </div>
  <div class="nav-btn">
    <div *ngIf="isSignIn">
       <a class="title-name" routerLink="/admin/profile">
         <i class="fas fa-user-circle"></i>
       </a>
    </div>
    <div *ngIf="!isSignIn">
      <button mat-raised-button color="accent" (click)="login()">{{ "buttons.login"  | translate }}</button>
    </div>
    <div *ngIf="isSignIn">
      <button mat-raised-button translate (click)="logoutBtn()">{{ "buttons.logout" | translate }}</button>
    </div>
      <span class="material-icons" (click)="changeLanguage()">language</span>
  </div>
</nav>

<router-outlet></router-outlet>

