.subject {
  margin: 20px 0 44px 67px;
}

h1 {
  color: white;
  font-size: 20px;
}

.container {
  margin: 0 38px 44px 67px;
  max-width: 500px;
}

.example-form-field {
  width: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card-task {
  max-width: 500px;
  margin: 0 auto;
  background: #616060;
  box-shadow: 6px 5px 8px 8px;

  &_title {
    color: white;
    font-size: 30px;
    padding: 20px 0 10px 20px;
  }

  &_text {
    color: white;
    font-size: 15px;
    padding: 5px 0 10px 20px;
  }
}
