.subject {
  margin: 20px 0 44px 0;
}

h1 {
  color: white;
  font-size: 20px;
}

.container {
  margin: 0 38px 44px 67px;
  max-width: 500px;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.btn-container button {
  margin-left: 20px;
}

.card-task {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 20px 0 15px 20px;
  background: #938c8c;
  box-shadow: 6px 5px 8px 8px;
  border-radius: 11px;
  padding-bottom: 17px;

  &_title {
    color: white;
    font-size: 30px;
    padding: 20px 0 10px 20px;
  }

  &_text {
    color: white;
    font-size: 15px;
    padding: 5px 0 10px 20px;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-options {
  position: relative;
  top: 16px;
  left: 27px;
}

i {
  position: relative;
  top: 6px;
  right: 7px;
}
