.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 38px 44px 67px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile-subject {
  margin: 0 10px 20px 0;
  width: 500px;
  color: white;
  font-size: 15px;

  &_title {
    display: flex;
  }
}

.profile-icon {
  color: white;
  cursor: pointer;
}
h1 {
  margin-right: 10px;
  color: white;
  font-size: 25px;
}

i {
  cursor: pointer;
}

span {
  color: #29f999;
  font-weight: 500;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.btn-container button {
  margin-left: 20px;
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actBtn {
  background-color: #29f999;
}

.invisible{
  display: none;
}


