<div>
  <div>
    <div class="subject">
      <h1>{{displayName}}</h1>
    </div>
  </div>
  <div class="container">
    <div class="example-form" [formGroup]="formAddTask">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="value" formControlName="title">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="description">
        <mat-hint align="start"></mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button  [disabled]="formAddTask.invalid " (click)="addTask()">Add</button>
      </div>
    </div>
  </div>
  <button>ccc</button>
  <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>
  <mat-tab-group color="accent">
    <mat-tab *ngFor="let tab of asyncTabs | async">
      <ng-template mat-tab-label>{{tab.label}}</ng-template>
      {{tab.content}}
    </mat-tab>
  </mat-tab-group>
  <div class="card-container">
    <div class="card-task" *ngFor="let task of tasks">
      <div>
        <h2 class="card-task_title">{{task.title}}</h2>
        <p class="card-task_text">{{task.description}}</p>
      </div>
      <div class="card-icon">
        <div>
          <i (click)="openDialog(task)" class="material-icons">create</i>
        </div>
        <div>
          <i (click)="removeTask(task)" class="material-icons">delete</i>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
