.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 93%;
}

.main-description {
  width: 50%;
}

.main-img {
  width: 50%;
}

.back {
  width: 600px;
  height: 600px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 66px;
  letter-spacing: 1px;
  color: white;
}

.main-text {
  width: 670px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  &_subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #617FDE;
    padding-bottom: 77px;
  }
}

li > i {
  color: #4cc38c;
}

.header-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 717px;
}

.header-item:nth-child(3){
  margin-left: 24px;
}

.header-btn {
  padding: 47px 0 0 145px;
}
