<div class="modal box">
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">
    <h2 class="title">{{"titles.formUp" | translate}}</h2>
    <div class="box">
      <mat-form-field>
        <mat-label>{{"placeholders.firstName" | translate}}</mat-label>
        <input matInput type="text" #firstName name="name" class="input" placeholder="{{'placeholders.firstName' | translate}}" formControlName="firstName"/>
        <mat-error class="validation" *ngIf="registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].touched">{{"errors.firstName" | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="box">
      <mat-form-field>
        <mat-label>{{"placeholders.lastName" | translate}}</mat-label>
        <input matInput type="text" #firstName name="name" class="input" placeholder="{{'placeholders.lastName' | translate}}" formControlName="lastName"/>
        <mat-error class="validation" *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched">{{"errors.lastName" | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="box" [ngClass]="{invalid: registrationForm.controls.email.touched && registrationForm.controls.password.invalid}">
      <mat-form-field>
        <mat-label>{{ "placeholders.email" | translate }}</mat-label>
        <input matInput type="text" placeholder="{{ 'placeholders.email' | translate }}" formControlName="email">
        <mat-error class="validation" *ngIf="email && email.invalid && email.touched">{{"errors.email" | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="box" [ngClass]="{invalid: registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid}">
      <mat-form-field>
        <mat-label>{{ "placeholders.password" | translate }}</mat-label>
        <input matInput type="password" placeholder="{{'placeholders.password' | translate}}" formControlName="password">
        <mat-error class="validation" *ngIf="password && password.invalid && password.touched">{{"errors.password" | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="box-around">
      <button mat-raised-button color="accent"
        class="btn"
        type="submit"
        [disabled]="registrationForm.invalid || submitted"
      >{{"buttons.sign-up" | translate}}</button>
    </div>
  </form>
</div>

<div class="loader" *ngIf="isLoader">
  <mat-spinner color="accent"></mat-spinner>
</div>
<router-outlet></router-outlet>
