button {
  margin-bottom: 20px;
}

.item{
  position: relative;
}

.item input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
}

.item:after{
  content: attr(data-title);
  position: absolute;
  top: -40px;
  left: 190px;
  width: 196px;
  height: 65px;
  background: #4CBE86;
  border-radius: 20px;
  padding: 14px 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition:0.34s linear;
  color: #fff;
  box-shadow:0 1px 5px #ccc;
  pointer-events: none;
}

.item:hover:after{
  opacity: 1;
  transform: translateY(0);
}
