@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '~ngx-toastr/toastr';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgba(14, 12, 12, 0.73);
  color: #333;
  height: 96%;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  width: 100%;
  background: #938c8c;
  color: #535353;
  text-align: center;
}
ul {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-item a {
  margin-right: 2rem;
  font-size: 19px;
  color: #535353;
}

li.active a {
  font-weight: bold;
  color: #333333;
  cursor: default;
}

h1 a {
  font-size: 3rem;
  color: #29f999;
}

.btn {
  display: inline-block;
  background: #FDBE4B;
  color: #eae6e6;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }
}

.modal {
    width: 100%;
    padding: 200px 0 225px;
}

.form {
  width: 360px;
  margin: 0 auto;
  text-align: start;
  background: #616060;
  box-shadow: 6px 5px 8px 8px;

  &.invalid {
    color: red;
    input {
      border-color: red;
    }
  }

  .validation {
    color: red;
  }
}

.title {
  text-align: center;
  color: #4cc38c;
}

.title-name {
  text-align: center;
  font-size: 35px;
  color: #4cc38c;
}

.input {
  outline: none;
  padding: 12px 20px;
  margin: 10px 0 20px 20px;
  box-sizing: border-box;
  border: 1px solid #cbc9c9;
  width: 88%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.box-around {
  display: flex;
  justify-content: space-around;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.loader {
  position: absolute;
  top: 10%;
  left: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-form-field {
  width: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-container {
  display: flex;
  flex-direction: column-reverse;
  width: 80px;
}

input {
  color: white !important;
}


