.example-radio-button {
  margin: 10px 10px 10px 0;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.example-form-field {
  width: 100%;
}

.btn-ref {
  position: relative;
  top: 23px;
  left: 166px;
}

.wrapper-modal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 28px;
}

.modal-title {
  font-size: 20px;
}

.card-checkbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
